@model Core.Data.Entities.Store
 @using ViewRes.Home
@using ViewRes.Store

<div class="container">
    <div class="row">
        @foreach (var item in Model.Products)
        {                 
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBanner)) 
        }
    </div>
</div>
