@model Core.Data.Entities.Store
@{
    ViewBag.Title = "Товари у розділі";
}
<div class="container">
    <div class="row">
        @foreach (var item in Model.Products)
        {                 
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBanner)) 
        }
    </div>
</div>
