@model List<Core.Data.Entities.Store>
@using ViewRes.Home
<div class="container">
    <div class="row">
        <p>
            @Html.ActionLink(Home.Create, "Create")
        </p>
    </div>
    @foreach (var item in Model)
    { 
        <br />
        <div class="row">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBanner))
            <div class="span2 offset1">
                @Html.ActionLink(Home.Edit, "Edit", new { id = item.Id })
                @Html.ActionLink(Home.Delete, "Delete", new { id = item.Id })
            </div>
        </div>
    }
</div>
