@model TolokaStudio.Models.BascetModel
@using ViewRes.Home
<div class="container">
    @if (Model.Message != null)
    {
        <div class="row">
            @Html.Raw(Model.Message)
        </div> 
    }
    @foreach (var item in Model.Orders)
    {   
        <div class="row">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Product.HtmlBanner))
        </div> 
        
        <div class="row">
            @Html.TextArea(item.Id.ToString() + "item.Comments", item.Comments, new Dictionary<string, object> { { "class", "text" } })
        </div> 
        
        <div class="row">
            @Html.ActionLink(Home.Create_Order, "Order", new { id = item.Id, comments = item.Comments })
        </div>                       
    }
</div>
