 @foreach (var item in ViewBag.Orders)
    {   
        <div class="row">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Product.HtmlBannerOrdered))
        </div> 
        
                            
    }
