@model List<Core.Data.Entities.Product>
<script src="/Content/js/buy.js"></script>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

         
            if(item.Ordered)
            {
               
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBannerOrdered))
            }
               if( !item.Ordered)
            {
               
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBanner))
            }
        }
    </div>
</div>
<script type="text/javascript">
//<![CDATA[

    $(document).ready(function () {
      
            Buyer.init();
       
       




    });
//]]>
</script>
