@model TolokaStudio.Models.HomeModel
@using ViewRes.Home
@{
    ViewBag.Title = Home.LogoText;
}
<div class="container">
    <div class="row">
        @if (Model.Stores != null)
        {
            foreach (var item in Model.Stores)
            {
                if (item.HtmlBanner != null)
                {
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBanner));
                }

            }
        }
    </div>
    <iframe width="560" height="315" src="http://www.youtube.com/embed/ORGNS6ev9TE" frameborder="0" allowfullscreen></iframe>
        <p>This is sample text to test galochku<img src="../../Content/img/q/button_ok_4699.png"  /></p>
        <img src="../../Content/img/q/shopping_cart_1.gif" width="100" />
         @Html.ActionLink("Test", "Test")

</div>
