@model SumkaWeb.Models.HomeModel

@{
    ViewBag.Title = "Толока Студіо";
}
<div class="container">
 <div class="row">
 
<a href="https://oauth.vk.com/authorize?client_id=3204168&scope=notify&redirect_uri=http://tolokastudio.pp.ua/Account/VKAuthorization&response_type=code">вхід з контакту</a>

        @foreach (var item in Model.Stores)
        {
           if (item.HtmlBanner != null)
            {
               @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBanner))
            }
                 
         }
      
   </div>
   </div>
