@model TolokaStudio.Models.HomeModel
@using ViewRes.Home
@{
    ViewBag.Title = Home.LogoText;
}
<div class="container">
    <div class="row">
        @foreach (var item in Model.Stores)
        {
            if (item.HtmlBanner != null)
            {
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBanner))
            }

        }

</div>
</div> 