@{
    ViewBag.Title = "Test";
}
<h2>Test</h2>

<a href="https://oauth.vk.com/authorize?client_id=3204168&scope=notify&redirect_uri=http://tolokastudio.pp.ua/Account/VKTest&response_type=code&display=popup" target="_blank">вхід з контакту</a>

<p id="dialog">Dialog context</p>
<button id="test">test</button>

<script type="text/javascript">
    
</script>

    <script  type="text/javascript">
        $(document).ready(function () {

            $('#').onclick

            $('#dialog-test').dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#test').click(function (event) {
                $('#dialog-test').dialog("open");
            });
        });
    </script>

    <div id="dialog-test" title="Create new user">
    <p class="validateTips">All form fields are required.</p>
 
    <form>
    <fieldset>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
    </fieldset>
    </form>
</div>